<mat-card
  [class.compact]="displayMode === 'compact'"
  [class.full]="displayMode === 'full'"
  [class.external]="isExternal"
  class="service-card"
  (click)="onCardClick($event)">

  <!-- Compact mode -->
  <ng-container *ngIf="displayMode === 'compact'">
    <mat-card-header>
      <mat-icon *ngIf="isExternal" mat-card-avatar>link</mat-icon>
      <mat-card-title>
        {{ serviceData.service.name }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="endpointCount > 0 || useCaseCount > 0">
        <span *ngIf="endpointCount > 0">{{ endpointCount }} endpoint<span *ngIf="endpointCount !== 1">s</span></span>
        <span *ngIf="endpointCount > 0 && useCaseCount > 0">, </span>
        <span *ngIf="useCaseCount > 0">{{ useCaseCount }} use case<span *ngIf="useCaseCount !== 1">s</span></span>
      </mat-card-subtitle>
    </mat-card-header>
  </ng-container>

  <!-- Full mode -->
  <ng-container *ngIf="displayMode === 'full'">
    <mat-card-header>
      <mat-icon *ngIf="isExternal" mat-card-avatar>link</mat-icon>
      <mat-card-title>
        {{ serviceData.service.name }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="description-wrapper">
        <p class="description" [class.expanded]="isDescriptionExpanded" (click)="toggleDescription($event)">
          {{ serviceData.service.description }}
        </p>
        <button
          *ngIf="serviceData.service.description && serviceData.service.description.length > 100"
          class="expand-button"
          (click)="toggleDescription($event)"
          mat-icon-button>
          <mat-icon>{{ isDescriptionExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </div>

      <p class="code-path" *ngIf="serviceData.service.relativeCodePath">
        <mat-icon>code</mat-icon>
        <span>{{ serviceData.service.relativeCodePath }}</span>
      </p>

      <div class="nested-graph-container">
        <app-nested-graph
          [endpoints]="serviceData.endpoint"
          [useCases]="serviceData.useCases"
          [serviceData]="serviceData">
        </app-nested-graph>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
